# Development values for {{ project_slug }}

global:
  environment: development

replicaCount: 1

dev_enabled: true

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m

env:
  APP_RUNTIME: tilt-dev