apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.global.project_name }}
  labels:
    {{- include "apiLabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "apiLabels" . | nindent 4 }} 